<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kikisnight.colmenarviejotourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SightseeingActivity"
            android:label="@string/category_sightseeing"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GreenZonesActivity"
            android:label="@string/category_green_zones"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RestaurantsActivity"
            android:label="@string/category_restaurants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CouncilActivity"
            android:label="@string/category_council"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>